/* Styling for basic elements V */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #333;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
}


div {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
}
/* Styling for basic elements ^ */

/* Table settings V (remember that our dashboard is a table) */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1a1a1a;
}

th {
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #444;
}

td {
  padding: 8px 10px;
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #202020;
}

tr:hover {
  background-color: #2f2f2f;
}
/* Table settings ^ */

/* Flexbox settings V */
.container {
  display: flex;
  gap: 10px;
}

.box {
  flex: 1;
  padding: 1px;

  text-align: center;
}
/* Flexbox settings ^ */

/* Misc element stylng V */
#dashboard_container {
  text-align: center;
}

#query_preview {
  text-align: left;
  border: 1px solid #ccc;
  padding: 1.1em;
  white-space: pre-wrap;
  overflow-x: auto;
}

#dashboard_message {
  margin: 10px 0;
  font-weight: bold;
}

#dashboard {
  width: 100%;
  border-collapse: collapse;
}

#dashboard th,
#dashboard td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
/* Misc element stylng ^ */